<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Portfolio Web</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!--Creating Menu-->
    <nav class="navbar">
        <ul>
            <li>
                <a href="#home">Home</a>
            </li>
            <li>
                <a href="#about">About Me</a>
            </li>
            <li>
                <a href="#portfolio">Portfolio</a>
            </li>
            <li>
                <a href="#services">Services</a>
            </li>
            <li>
                <a href="#contact">Contact Me</a>
            </li>
        </ul>
    </nav>
    <!--Home Area-->
    <section id="home">
        <div class="main">
            <h1 class="headings">I AM <br> HASSAN IMTIAZ</h1>
            <button class="btn">
                Hire me
            </button>
        </div>
    </section>
    <!--About Area-->
    <section id="about">
        <h1 class="headings">ABOUT ME</h1>
        <div id="pic">
            <img src="/Images/mypic.jpeg" alt="Hassan Imtiaz's Pic">
            <div id="intro">
                <h2> HASSAN IMTIAZ</h2>
                <p>
                    Hi, I'm HASSAN IMTIAZ, and I am to graduate from the University of Sialkot in 2023
                    with a degree in Software Engineering. My interests are in Front End Engineering,
                    and I love to create beautiful and performant products with delightful user experiences.
                    I previously worked for Dumile Impex Sports, where I developed Ecommerce Store.
                    I used front end languages. What front end languages are and which are use by me?
                    Front-end web development, or client-side development, refers to working with HTML,
                    CSS and JavaScript for a website or web application that allows users to see and
                    interact with them directly

                </p>
            </div>
        </div>
    </section>
    <!--Portfolio Area-->
    <section id="portfolio">
        <h1 class="headings">PORTFOLIO</h1>
        <div class="gallery">
            <img src="/Images/portfolio1.jpeg" alt="Portfolio">
            <img src="/Images/portfolio2.jpeg" alt="Portfolio">
            <img src="/Images/portfolio3.jpeg" alt="Portfolio">
            <img src="/Images/portfolio4.jpeg" alt="Portfolio">
            <img src="/Images/portfolio5.jpeg" alt="Portfolio">
            <img src="/Images/portfolio6.jpeg" alt="Portfolio">
        </div>
    </section>
    <!--Services Area-->
    <section id="services">
        <h1 class="headings">SERVICES</h1>
        <div class="row">
            <div class="box">
                <img src="/Images/icon.png" alt="Services Icon">
                <h1 class="headings ">Website Design</h1>
                <p>
                    I'm HASSAN IMTIAZ, and I am to graduate from the University of Sialkot in 2023
                    with a degree in Software Engineering. My interests are in Front End Engineering,
                    and I love to create beautiful and performant products with delightful user experiences.
                    I previously worked for Dumile Impex Sports, where I developed Ecommerce Store.
                </p>
            </div>
            <div class="box">
                <img src="/Images/icon.png" alt="Services Icon">
                <h1 class="headings ">UX/UI Design <br></h1>
                <p>
                    I'm HASSAN IMTIAZ, and I am to graduate from the University of Sialkot in 2023
                    with a degree in Software Engineering. My interests are in Front End Engineering,
                    and I love to create beautiful and performant products with delightful user experiences.
                    I previously worked for Dumile Impex Sports, where I developed Ecommerce Store.
                    I used front end languages. What front end languages are and which are use by me?
                    Front-end web development, or client-side development, refers to working with HTML,
                    CSS and JavaScript.
                </p>
            </div>
            <div class="box">
                <img src="/Images/icon.png" alt="Services Icon">
                <h1 class="headings ">Banner Designs</h1>
                <p>
                    I'm HASSAN IMTIAZ, and I am to graduate from the University of Sialkot in 2023
                    with a degree in Software Engineering. My interests are in Front End Engineering,
                    and I love to create beautiful and performant products with delightful user experiences.
                    I previously worked for Dumile Impex Sports, where I developed Ecommerce Store.
                    I used front end languages.
                </p>
            </div>

        </div>
    </section>
    <!--Contact Area-->
    <section id="contact">
        <h1 class="headings">CONTACT</h1>
        <form action="Setformdata" method="post" class="form">
            <input type="text" name="fname" class="input" placeholder="Enter Your First Name">
            <input type="text" name="lname" class="input" placeholder="Enter Your Last Name">
            <input type="email" name="email" class="input" placeholder="Enter Your Email">
            <input type="tel" name="tel" class="input" placeholder="Enter Your Contact No" />
            <h1 class="headings">Select Your Gender</h1>
            <input type="radio" id="male" name="gen" value="MALE" />
            <label for="male">MALE</label><br />
            <input type="radio" id="female" name="gen" value="FEMALE" />
            <label for="female">MALE</label><br />
            <label for="department"> Choose a department:</label>
            <select name="department" id="department">
                <option value="sales">SALES</option>
                <option value="it">IT</option>
            </select>

            <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Enter Your Message"></textarea>
            <input type="submit" value="SEND" id="send">
        </form>
    </section>
</body>
</html>